* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background: rgb(239, 239, 239);
    
  }

  .main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0, 0.544)),url("hintersee-g4a25cbcde_1280.jpg") ;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.big1{
    color: crimson;
    font-size: 100px;
    text-shadow: 0px 0px 1px black;

}
span{
    color: crimson;
    text-shadow: 0px 0px 1px black;
}
.big2{
    font-size: 30px;
    color: white;
    margin-bottom: 3rem;
}
a{
    text-decoration: none;
}
.main a{
    
    border-radius: 5px;
    font-size: 25px;
    padding: 0.7rem 1rem;
    }
.login{
    background: rgb(195, 10, 47);
    color: white;
    border: 2px solid rgb(214, 30, 67);
    margin: 0 1rem;

}
.free{
    background: rgba(0, 0, 0, 0.844);
    border: 2px solid rgb(195, 10, 47);
color: white;
}
/* .main img{
    width: 25%;
    height: auto;
    border-radius: 10%;
    transform: rotate(45deg);  
    border-radius: 1rem solid crimson; 
} */

  .back {

    width: 0%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0,0, 0.651);
    transition: 1s;
    z-index: 3;
  }

  .bur {
    position: relative;

    width: 100%;
    height: 50px;
    position: fixed;
    background: rgba(255, 255, 255, 0.969);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.96);
    z-index: 10; 
    padding: 8px 4px;
  }

  .burger {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .burger div {

    border-radius: 5px;
    width: 30px;
    height: 3px;
    background: crimson;
    margin: 4px 0;
  }

  hr {
    color: white;
    background: white;
    list-style: none;
  }

  #sidenav {
    width: 500px;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.863);
    display: flex;
    flex-direction: column;
    transform: translateX(400%);
    transition: 1s;
box-shadow: 0px 42px 10px black;  
z-index: 10;
  }

  #sidenav a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    width: 100%;
    height: 45px;
    align-items: center;
cursor: pointer;
user-select: none;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: start;
    font-weight: 300;
  }

  #sidenav a:hover {
    background: white;
    color: crimson;

  }

  .image {
    width: 100%;
    height: 80vh;
    
  }

  .cls {
    background: rgb(196, 7, 45);
    margin-top: 52px;

  }.cls:hover{
    background: crimson;
  }
h5{
font-size: 20px;
font-weight: 300;
padding: 1rem;
}
  .logo {
    width: 100%;
padding-top: 3px;;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.021);
    color: crimson;
  }

  form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    
  }
  .main1{
    
width: auto;
    height: 400px;
    background: rgba(0, 0, 0, 0.267);
    padding: 2rem 1rem ;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black,0px 0px 5px black;
  }
  input{
    width: 100%;
    margin: 0.7rem auto;
    padding: 0.5rem;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    outline: none;
  }
  
  .regfor,.error{
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }
  .regfor{
    font-size: 24px;
  }
  .sub{
    border: 2px solid rgba(255, 255, 255, 0.942);
    background: rgba(0, 0, 0, 0.467);
    color: white;
    border-radius: 5px;
    font-weight: 300;
    text-shadow: 0px 0px 2px white;
    cursor: pointer;
  }

  /* introduction */
  .backimg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background: rgb(239, 239, 239);
  }

  .col {
    padding: 5px;
    width: 40%;
    margin: 0.5rem auto;
  }
  .col span{
    width: 100%;
    height: auto;
    font-size: 29px;
    color: crimson;
    text-align: center;
  }
.conten{
    font-weight: 400;
}
  .box1 {
    width: 40%;
    height: 40vh;
    overflow: hidden;
    border: 6px solid crimson;
   border-radius: 1rem;
  }
  .box1 img{
    width: 150%;
    height: 150%;
    transform: translatey(-50px);
    
animation: run 15s ease-in infinite;  
}
@keyframes run {
    0%{
        transform: translatey(-50px);
    }
    25%{
        transform: translateX(-10%);
    }50%{
        transform: translatey(-30%);

    }
    100%{
        transform: translatey(-50px);

    }
    
}
/* cards style */
.topcat{
    width: 100%;
    height: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}
.line{
    width: 50%;
    height: 3px;
    background: crimson;
    margin: 0 auto;
}
.up{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
  }
.main3{
    width: 80%;
    margin: 2rem auto;
    height: 300px;
grid-gap: 1rem;
    background: crimson;
    transition: 1s;
    box-shadow: 0px 2px 21px black;
    border-radius: 5px ;
    overflow: hidden;
    position: relative;
  }


  .image{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    animation: eass 1s;
    background-size: cover;
    background-position: center;
    border-radius: 5px ;
    z-index: 2;
  }
 
 
  
  .detail{
    color: white;
    text-align: center;    
    z-index: 1;
    padding: 0 4px;
font-size: 25px; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
}










  @media (max-width:950px) {
    .main{
Padding: 2rem 0 0 0;
        flex-direction: column;
        height: 900px;
        text-align: center;

    }
    .backimg{
        flex-direction: column;
    }
    .box1,
    .col{
        width: 94%;
        margin: 1rem 0;
    }
    .up{
        grid-template-columns: repeat(2 , 1fr);
    }
    
  }
  @media (max-width:544px) {
    .up{
        grid-template-columns: repeat(1 , 1fr); 
    }
    
  }
